# hidden folders
.b/
.coa/
.debug/
.old/
.raw/
.slurm/
.sub/
.tmp/

# python
__pycache__/
npy/
*.pyc

# R
Rplots*

# tex
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*-blx.bib
*.bcf
*.nav
*.snm
*.vrb
*.run.xml
*.synctex
*.synctex.gz
*-converted-to.pdf

# windows
.DS_Store
